name: "build"
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install cross-compilation deps
        run: |
          sudo apt update
          sudo apt install -q -y \
            binfmt-support \
            gcc-aarch64-linux-gnu \
            qemu-system-aarch64 \
            qemu-user-static
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Install nix
        uses: cachix/install-nix-action@6a9a9e84a173d90b3ffb42c5ddaf9ea033fad011 # v23
        with:
          nix_path: nixpkgs=channel:nixos-22.11-aarch64
          extra_nix_config: |
            extra-platforms = aarch64-linux
            max-jobs = auto
            cores = 0
            system-features = big-parallel kvm
            experimental-features = nix-command flakes
      - name: Setup cachix
        uses: cachix/cachix-action@v13
        with:
          name: nixos-pi
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

          # Don't push source or .iso files as they are pointless to take up precious cache space.
          pushFilter: '(-source$|nixpkgs\.tar\.gz$|\.iso$|linux\.img\.zst|-squashfs.img$|crate-$)'
      - name: Build image
        if: github.event_name == 'push'
        run: |
          nix show-config | grep -vi -e keys -e token
          nix build .#images.server --print-build-logs --show-trace
          nix derivation show ./result
        env:
          GC_DONT_GC: 1
      # Workaround for https://github.com/actions/upload-artifact/issues/92
      - name: Workaround
        if: github.event_name == 'push'
        run: echo "UPLOAD_PATH=$(readlink -f result)" >> $GITHUB_ENV
      - name: Upload artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v3
        with:
          name: nixospi
          path: ${{ env.UPLOAD_PATH }}
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: ${{ env.UPLOAD_PATH }}/*
